[Desktop Entry]
Name=Design
Exec=io.github.dubstar_04.design %F
Icon=io.github.dubstar_04.design
Terminal=false
Type=Application
Categories=GTK;GNOME;Graphics;2DGraphics;Engineering;
MimeType=image/vnd.dxf
Keywords=CAD;DXF;drawing;design;vector;
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true

